<%- include("partials/header.ejs") %>


<div class="card">
    <% if (locals.dynamicImage) { %>
  <img src="..." class="card-img-top" alt="...">
    <% } %>
  <div class="card-body">
    <% if (locals.dynamicText) { %>
    <p class="card-text" id="typed-text" data-text="<%= dynamicText %>"></p>
    <% } else { %>
    <p class="card-text" id="typed-text"></p>
    <% } %>

  </div>
</div>


<%- include("partials/footer.ejs") %>