body {
    background-color: black;
    padding-bottom: 5vh;
}

.header {
    font-family: Science Gothic;
    display: grid;
    grid-column: auto;
    grid-row: auto auto;
    width: 100%;
}

.title {
    margin-top: 2rem;
    color: #fff;
    text-align: center;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #ff0000,
        /* Primary glow color */
        0 0 20px #ff0000,
        0 0 25px #ff0000,
        0 0 30px #ff0000,
        0 0 35px #ff0000
}

.nav-container {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    height: 10vh;
    margin-top: 2rem;

}

.nav1,
.nav2,
.nav3,
.nav4,
.nav5 {
    flex: 1;
}

a {
    text-decoration: none;
    /* remove underline */
    color: inherit;
    /* same color as text */
    background: none;
    /* no background */
}

.nav1 a.active {
    color: #fff;
    /* subtle highlight */
    padding: 4px 8px;
    border-radius: 4px;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #1A41F0,
        /* Primary glow color */
        0 0 20px #1A41F0,
        0 0 25px #1A41F0,
        0 0 30px #1A41F0,
        0 0 35px #1A41F0
}

.nav2 a.active {
    color: #fff;
    /* subtle highlight */
    padding: 4px 8px;
    border-radius: 4px;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #06F906,
        /* Primary glow color */
        0 0 20px #06F906,
        0 0 25px #06F906,
        0 0 30px #06F906,
        0 0 35px #06F906
}

.nav3 a.active {
    color: #fff;
    /* subtle highlight */
    padding: 4px 8px;
    border-radius: 4px;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #FF00FA,
        /* Primary glow color */
        0 0 20px #FF00FA,
        0 0 25px #FF00FA,
        0 0 30px #FF00FA,
        0 0 35px #FF00FA
}

.nav4 a.active {
    color: #fff;
    /* subtle highlight */
    padding: 4px 8px;
    border-radius: 4px;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #1BF9FB,
        /* Primary glow color */
        0 0 20px #1BF9FB,
        0 0 25px #1BF9FB,
        0 0 30px #1BF9FB,
        0 0 35px #1BF9FB
}

.nav5 a.active {
    color: #fff;
    /* subtle highlight */
    padding: 4px 8px;
    border-radius: 4px;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #FFEA1C,
        /* Primary glow color */
        0 0 20px #FFEA1C,
        0 0 25px #FFEA1C,
        0 0 30px #FFEA1C,
        0 0 35px #FFEA1C
}

.card {
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    background-color: #06F906;
    box-shadow: 0px 0px 25px 15px #003B00;
}

.card-body {
    background-color: black;
    height: auto;
}

.card-text {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #00FF41;
    white-space: pre-wrap;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    align-items: center;
}

.footer-container {
    background-color: black;
    color: #7e8285;
    order: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Science Gothic;
    font-weight: 100;
    height: 5vh;
}

@media (max-width: 800px) {
    .card {
        margin-top: 12%;
    }
    .nav-container {
        margin-top: 2rem;
        text-align: center;
        flex-direction: column;
        align-items: flex-start;
        align-content: start;
        align-items: center;
    }

    h5 {
        font-size: 16px;;
    }

    h1 {
        margin: 0;
    }

    .title {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .card-text {
        font-size: 16px;
    }
}